body {
    background-color: white;
    color: black;
}

body.dark {
    background-color: #111;
    color: white;
}

a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}